header{
    text-align: center;
    padding: 2%;
    background-color: #0000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}
td, tr {
    border: 1px solid black;
    
}
table{
    margin-left: 33em;
}
footer > p{
    text-align: center;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}
footer{
    background-color: antiquewhite;
    padding: 20px;
}
div {
    width: 100%;
    height: 100%;
}
div{
    text-align: center;
    visibility: hidden;
    
}
td {
    width: 100px;
    height: 100px;
}
 
.bcolor{
    background-color: black;
}
td:hover > div{
    background-color: rgba(255, 0, 0, 0.5);
    visibility: visible; 
    -webkit-transition: 200ms;
    -moz-transition: 2ms;
    -o-transition: 200ms;
    transition: 200ms;
    
}
.black:hover{
    color:white;
    font-size: 1.5em;
    -webkit-transition: 200ms;
    -moz-transition: 2ms;
    -o-transition: 200ms;
    transition: 200ms;
}
.white:hover{
    color:black;
    font-size: 1.5em;
    -webkit-transition: 200ms;
    -moz-transition: 2ms;
    -o-transition: 200ms;
    transition: 200ms;
}



